*{margin:0px;padding:0px}
body{
	margin-left: 0px;
	padding-left: 0px;
}
a{text-decoration:none}
 /* css ben trai */
.left{
    float: left;
    width: 280px;
    height: auto;
}

.left .logo{
    display: block;
    width: 80%;
    height: auto;
    float: left;
    border-bottom: 1px solid rgb(65, 65, 65);
    padding-bottom: 10px;
    margin-bottom: 10px;
    margin-left: 20px;
}
.left .logo a{}
.left .logo a img{
    width: 100%;
    margin-left: -30px;
    padding-bottom: 10px;
}
.left .logo .share{}
.left .logo .share ul{
    list-style: none;
}
.left .logo .share ul li{
    float: left;
}
.left .logo .share ul li a{
    padding: 0 0 0 8;
    opacity: 0.3;
}
.left .logo .share ul li a img{
    width: 16px;
    margin: 0px;
    padding-bottom: 0px;
}
.left .logo .share ul li a:hover{opacity:1;-webkit-transition: all ease 0.5s;}

.left .menu{
    width: 97%;
    height: auto;
    margin-bottom: 10px;
    float: left;
    list-style: none;
    margin-left: 20px;
    padding-top: 0px;
}
.left .menu ul{
    list-style: none;
}
.left .menu ul li{}
.left .menu ul li a{
    text-decoration: none;
    color: #f4f4f4;
    font-family: myriad pro;
    font-size: 14px;
    font-weight: normal;
    padding-bottom: 17px;
    display: block;
    -webkit-transition: all ease 0.4s;
    padding-top: 17px;
}
.left .menu ul li a:hover{
    font-weight: normal;
    margin-left: 10px;
}



/* css ben phai */

.right{
    width: 75%;
    float: left;
    padding-left: 10px;
    background-color: #ededed;
    padding-top: 10px;
    height: auto;
    min-height: 666px;
    padding-bottom: 30px;
    overflow: hidden;
}

.right .lienhe{
    display: block;
    width: 700px;
    float: left;
    padding-bottom: 50px;
    padding-right: 50px;
}

.right .lienhe p{
    font-family: myriad pro;
    font-size: 24;
    font-weight: bold;
    padding-bottom: 5px;
}

.right .lienhe .maps{
    width: 50%;
    float: left;
    padding-right: 50px;
    padding-top: 20px;
}
.right .lienhe .maps img{}
.right .lienhe .maps p{
    border-bottom: 0px;
    font-size: 14px;
    font-weight: normal;
    width: 80%;
    padding-top: 15px;
    color: 8b8b8b;
}
.right .lienhe .maps p b{
    color: black;
}
.right .lienhe .maps ul{
    list-style: none;
    padding-top: 15px;
}
.right .lienhe .maps ul li{
    float: left;
}
.right .lienhe .maps ul li a{
    display: block;
    text-decoration: none;
    color: 8b8b8b;
}
.right .lienhe .maps ul li a b{
    color: black;
}

.right .lienhe .mail{
    float: right;
    width: 36%;
}
.right .lienhe .mail h1{
    font-family: myriad pro;
    font-size: 18px;
    font-weight: bold;
    padding-top: 15px;
}
.right .lienhe .mail p{
    font-size: 14px;
    color: 636262;
    padding-top: 15px;
    font-weight: normal;
}
.right .lienhe .mail input{
    width: 250px;
    height: 30px;
}

.right .lienhe .mail textarea{
    width: 250px;
    height: 30px;
}

.right .lienhe .mail .submit{
    display: block;
    width: 250px;
    padding-top: 15px;
}
.right .lienhe .mail .submit img{
    float: left;
    height: 32px;
}
.right .lienhe .mail .submit input{
    width: 100px;
    float: right;
    color: 636262;
    text-align: center;
    font-family: myriad pro;
    font-size: 12;
}
.right .lienhe .mail .submit input{
    display: block;
    width: 212px;
    padding: 10 20;
    background: black;
    float: left;
    text-align: center;
    text-decoration: none;
    color: white;
    font-family: myriad pro;
    font-size: 18px;
    margin-top: 10px;
}

#nd{
    height: 150;
}
#ma{}
#guithu{}
#lh{
    border-bottom: 1px solid rgb(214, 214, 214);
}

.right .about{
    float: left;
    display: block;
    width: 700px;
}
.right .about .tren{}
.right .about .tren i{
    text-align: center;
    padding-bottom: 20px;
    display: block;
}
.right .about .tren i img{}
.right .about .tren p{
    font-size: 500 12px;  color: 636363;  font-weight: normal;
   
    font-family: myriad pro;
    line-height: 25px;
}
#tdb{
    border-bottom: 1px solid rgb(214, 214, 214);
    font-size: 14px;
    color: 636363;
    font-weight: normal;
}
#tda{ font-family: myriad pro;  font-size: 24;  font-weight: bold; color: black;}
.right .about .tren img{
    padding-top: 25px;
}


.right .about .duoi{
    padding-top: 30px;
    display: block;
    width: 700px;
    float: left;
}
.right .about .duoi .team{}
.right .about .duoi .team .so1{

    width: 250px;
    padding: 15px;
    float: left;
    border-radius: 3px;
}

.right .about .duoi .team .so1 b{
    font-family: myriad pro;
    font-size: 14;
    font-weight: bold;
    display: block;
    width: auto;
}
.right .about .duoi .team .so1 img{
    float: left;
    display: block;
    padding-right: 15px;
}
.right .about .duoi .team .so1 p{
    font-family: myriad pro;  
    font-size: 12;  
    font-weight: normal;
    float: left;
    width: 93px;
    line-height: 20px;
}
.right .about .duoi .team .so1 i{
    font-family: myriad pro;  
    font-size: 12;  
    padding-bottom: 10px;
    display: block;
    float: left;
}
.right .about .duoi .team .so1 ul{
    float: left;
    list-style: none;
    display: block;
    padding-top: 10px;
}
.right .about .duoi .team .so1 ul li{}
.right .about .duoi .team .so1 ul li a{
    text-decoration: none;
    color: black;
    font-family: myriad pro;
    padding: 0 16;

}

.team .so1:hover {background-color: white;
    -webkit-transition:all ease 0.5s}



.right .khoi1{
    width: 580px;
    background-color: white;
    margin-right: 20px;
    margin-bottom: 20px;
    -webkit-transition: left .4s ease-in-out, top .4s ease-in-out .4s;
}
.right .khoi1 .anh{
    width: 580px;
}
.right .khoi1 .anh img{}
.right .khoi1 .tin{
    width: 580px;
    position: relative;
}
.right .khoi1 .tin .tieude{
    width: 570px;
    height: 50px;
    background-color: rgba(0, 0, 0, 0.3);
    position: absolute;
    top: -50px;
    border-left: 10px solid #e84c3d;
    /* border-bottom: 2px solid  #e84c3d; */
    /* border-right: 10px solid #e84c3d; */
}
.right .khoi1 .tin .tieude b{
}
.right .khoi1 .tin .tieude b a{
    text-decoration: none;
    color: #FFF9F9;
    font-family: myriad pro;
    font-size: 18px;
    padding: 12 16;
    display: block;
    text-shadow: 2px 2px rgba(0, 0, 0, 0.4);
}
.right .khoi1 .tin .link{
    padding-top: 10;
    padding-left: 15;
}
.right .khoi1 .tin .link i{}
.right .khoi1 .tin .link i a{
    display: block;
    font-family: myriad pro;
    font-size: 12px;
    color: #7C7C7C;
    text-decoration: none;
}
.right .khoi1 .tin .noidung{}
.right .khoi1 .tin .noidung p{
    padding-left: 15px;
    font-family: myriad pro;
    font-size: 500 12px;
    color: 414141;
    font-weight: normal;
    display: block;
    padding-top: 10;
    line-height: 25px;
    padding-right: 15px;
}
.right .khoi1 .tin .more{
    border-top: 1px solid #DDDDDD;
    width: 95%;
    margin-left: 15px;
    margin-top: 15px;
}

.right .khoi1 .tin .more a{
    text-decoration: none;
    font-family: myriad pro;
    font-size: 12px;
    color: d55f52;  
    padding-top: 12;  display: block;  height: 30px;
    margin-left: 2;
    font-weight: 700;
}
.right .khoi1 .tin .more a span{
    background: url(images/icon/ilogo_big.png) no-repeat;
    width: 35;
    height: 35;
    display: block;
    float: left;
    margin-top: -10px;
    display: none;
}



.right .khoi2{
    width: 280px;
    height: auto;
    background-color: white;
    margin-right: 20px;
    margin-bottom: 20px;
    overflow: hidden;
    display: block;
    -webkit-transition: left .4s ease-in-out, top .4s ease-in-out .4s;
}
.right .khoi2 .anh{
    width: 280px;
}
.right .khoi2 .anh img{
    position: relative;
}
.right .khoi2 .tin{
    width: 280px;
    position: relative;
}
.right .khoi2 .tin .tieude{
    width: 280px;
    background-color: rgba(0, 0, 0, 0.3);
    position: absolute;
    top: -47;
    text-shadow: 2px 2px rgba(0, 0, 0, 0.4);
    border-left: 10px solid #f49c14;
}
.right .khoi2 .tin .tieude b{}
.right .khoi2 .tin .tieude b a{
    text-decoration: none;
    color: #FFF9F9;
    font-family: myriad pro;
    font-size: 14;
    padding: 15 10 15 15;  
    display: block;
}
.right .khoi2 .tin .link{
    padding-top: 10;
    padding-left: 15;
}
.right .khoi2 .tin .link i{}
.right .khoi2 .tin .link i a{
    display: block;
    font-family: myriad pro;
    font-size: 12px;
    color: #7C7C7C;
    text-decoration: none;
}
.right .khoi2 .tin .noidung{}
.right .khoi2 .tin .noidung p{
    padding-left: 15px;
    font-family: myriad pro;
    color: 414141;
    font-weight: normal;
    display: block;
    padding-top: 10;
    line-height: 25px;
    padding-right: 15px;
    font-size: 500 12px;
}
.more{
    border-top: 1px solid rgba(243, 206, 63, 0.75);
    width: 90%;
    margin-left: 15px;
    margin-top: 15px;
}

.more a{
    text-decoration: none;
    font-family: myriad pro;
    font-size: 12px;
    color: rgba(243, 206, 63, 0.75);  
    padding-top: 20;  display: block;  height: 30px;
    margin-left: 0;
}
.more a span{
    background: url(images/icon/ilogo_big.png) no-repeat;
    width: 35;
    height: 35;
    display: block;
    float: left;
    margin-top: -10px;
    background-position: -35;
}

.right .khoi3{
    width: 280px;      
    background-color: f3ce3f;  margin-right: 20px;  overflow: hidden;
    margin-bottom: 20px;
    display: block;
    -webkit-transition: left .4s ease-in-out, top .4s ease-in-out .4s;
}
.right .khoi3 .tin{    width: 280px;
    position: relative;}
.right .khoi3 .tieude{    width: 280px;



}
.right .khoi3 .tieude b a{
    text-decoration: none;  
    color: 222222;  font-family: myriad pro;  font-size: 18;  
    padding: 15 10 0 15;  display: block;
}
.right .khoi3 .link{    padding-top: 10;
    padding-left: 15;}
.right .khoi3 .link i a{
    display: block;
    font-family: myriad pro;
    font-size: 12px;
    color: #7C7C7C;
    text-decoration: none;}
.right .khoi3 .noidung p{
    padding-left: 15px;
    font-family: myriad pro;
    font-size: 14px;
    color: 222222;
    font-weight: normal;
    display: block;
    padding-top: 15;
    line-height: 1.5;
    padding-right: 15px;}
	
.more3{    border-top: 1px solid rgba(34, 34, 34, 0.41);
    width: 90%;
    margin-left: 15px;
    margin-top: 15px;}
.more3 a{    text-decoration: none;
    font-family: myriad pro;
    font-size: 12px;
    color: rgba(34, 34, 34, 1);  
    padding-top: 20;  display: block;  height: 30px;
    margin-left: 0;}
    
.more3 a span{
    background: url(images/icon/ilogo_big.png) no-repeat;
    width: 35;
    height: 35;
    display: block;
    float: left;
    margin-top: -10px;
    background-position: -300;
}


/* phan id de su dung cho tung muc */
/* doi mau tieu de */
#tim{
    background-color: rgba(154, 89, 181, 0.75);
}

#xanhtim{
    background-color: rgba(52, 73, 94, 0.69);
}
#xanhcyan{
    background-color: rgba(74, 181, 160, 0.75);
}
#xanhlacay{
    background-color: rgba(33, 156, 59, 0.75);
}
#xanhlama{
    background-color: rgba(45, 204, 112, 0.75);
}

/* doi mau readmore */
/*tim*/
.moretim{
    border-top: 1px solid rgba(154, 89, 181, 0.75);
    width: 90%;
    margin-left: 15px;
    margin-top: 15px;
}

.moretim a{
    text-decoration: none;
    font-family: myriad pro;
    font-size: 12px;
    color: rgba(154, 89, 181, 0.75);  
    padding-top: 20;  display: block;  height: 30px;
    margin-left: 0;
}
.moretim a span{
    background: url(images/icon/ilogo_big.png) no-repeat;
    width: 35;
    height: 35;
    display: block;
    float: left;
    margin-top: -10px;
    background-position: -70;
}
/* xanh tim */

.morexanhtim{
    border-top: 1px solid rgba(52, 73, 94, 0.69);
    width: 90%;
    margin-left: 15px;
    margin-top: 15px;
}

.morexanhtim a{
    text-decoration: none;
    font-family: myriad pro;
    font-size: 12px;
    color: rgba(52, 73, 94, 0.69);  
    padding-top: 20;  display: block;  height: 30px;
    margin-left: 0;
}
.morexanhtim a span{
    background: url(images/icon/ilogo_big.png) no-repeat;
    width: 35;
    height: 35;
    display: block;
    float: left;
    margin-top: -10px;
    background-position: -110;
}

/* xanhcyan */
.morexanhcyan{
    border-top: 1px solid rgba(74, 181, 160, 0.75);
    width: 90%;
    margin-left: 15px;
    margin-top: 15px;
}

.morexanhcyan a{
    text-decoration: none;
    font-family: myriad pro;
    font-size: 12px;
    color: rgba(74, 181, 160, 0.75);  
    padding-top: 20;  display: block;  height: 30px;
    margin-left: 0;
}
.morexanhcyan a span{
    background: url(images/icon/ilogo_big.png) no-repeat;
    width: 35;
    height: 35;
    display: block;
    float: left;
    margin-top: -10px;
    background-position: -145;
}

/* xanh la cay */
.morexanhlacay{
    border-top: 1px solid rgba(33, 156, 59, 0.75);
    width: 90%;
    margin-left: 15px;
    margin-top: 15px;
}

.morexanhlacay a{
    text-decoration: none;
    font-family: myriad pro;
    font-size: 12px;
    color: rgba(33, 156, 59, 0.75);  
    padding-top: 20;  display: block;  height: 30px;
    margin-left: 0;
}
.morexanhlacay a span{
    background: url(images/icon/ilogo_big.png) no-repeat;
    width: 35;
    height: 35;
    display: block;
    float: left;
    margin-top: -10px;
    background-position: -185;
}
/* xanh la ma */
.morexanhlama{
    border-top: 1px solid rgba(45, 204, 112, 0.75);
    width: 95%;
    margin-left: 15px;
    margin-top: 15px;
}

.morexanhlama a{
    text-decoration: none;
    font-family: myriad pro;
    font-size: 12px;
    color: rgba(45, 204, 112, 0.75);  
    padding-top: 20;  display: block;  height: 30px;
    margin-left: 0;
}
.morexanhlama a span{
    background: url(images/icon/ilogo_big.png) no-repeat;
    width: 35;
    height: 35;
    display: block;
    float: left;
    margin-top: -10px;
    background-position: -265;
}


/* footer */

.more{
    border-top: 1px solid #DDDDDD;
    width: 90%;
    margin-left: 15px;
    margin-top: 15px;
}

.more a{
    text-decoration: none;
    font-family: myriad pro;
    font-size: 12px;
    color: rgba(243, 206, 63, 0.75);  
    padding-top: 12;  display: block;  height: 30px;
    margin-left: 0;
    font-weight: 700;
}
.more a span{
    background: url(images/icon/ilogo_big.png) no-repeat;
    width: 35;
    height: 35;
    display: block;
    float: left;
    margin-top: -10px;
    background-position: -111;
    display: none;
}

.right .khoi3{
    width: 280px;  height: auto;  float: left;  
    background-color: f3ce3f;  margin-right: 20px;  overflow: hidden;
    margin-bottom: 20px;
}
.right .khoi3 .tin{    width: 280px;
    position: relative;}
.right .khoi3 .tieude{    width: 280px;



}
.right .khoi3 .tieude b a{
    text-decoration: none;  
    color: 222222;  font-family: myriad pro;  font-size: 18;  
    padding: 15 10 0 15;  display: block;
}
.right .khoi3 .link{    padding-top: 10;
    padding-left: 15;}
.right .khoi3 .link i a{
    display: block;
    font-family: myriad pro;
    font-size: 12px;
    color: 222222;
    text-decoration: none;}
.right .khoi3 .noidung p{
    padding-left: 15px;
    font-family: myriad pro;
    font-size: 14px;
    color: 222222;
    font-weight: normal;
    display: block;
    padding-top: 15;
    line-height: 1.5;
    padding-right: 15px;}
	
.more3{    border-top: 1px solid rgba(34, 34, 34, 0.41);
    width: 90%;
    margin-left: 15px;
    margin-top: 15px;}
.more3 a{    text-decoration: none;
    font-family: myriad pro;
    font-size: 12px;
    color: rgba(34, 34, 34, 1);  
    padding-top: 20;  display: block;  height: 30px;
    margin-left: 0;}
    
.more3 a span{
    background: url(images/icon/ilogo_big.png) no-repeat;
    width: 35;
    height: 35;
    display: block;
    float: left;
    margin-top: -10px;
    background-position: -300;
}


/* phan id de su dung cho tung muc */
/* doi mau tieu de */
#tim{
    background-color: rgba(0, 0, 0, 0.3);
    border-left: 10px solid #2fcc71;
}

#xanhtim{
    background-color: rgba(0, 0, 0, 0.3);  
    border-left: 10px solid #1bbc9d;
}
#xanhcyan{
    background-color: rgba(0, 0, 0, 0.3);  
    border-left: 10px solid #e84c3d;
}
#xanhlacay{
    background-color: rgba(0, 0, 0, 0.3);
}
#xanhlama{
    background-color: rgba(0, 0, 0, 0.3);  
    border-left: 10px solid #2fcc71;
}

/* doi mau readmore */
/*tim*/
.moretim{
    border-top: 1px solid #DDDDDD;
    width: 90%;
    margin-left: 15px;
    margin-top: 15px;
}

.moretim a{
    text-decoration: none;
    font-family: myriad pro;
    font-size: 12px;
    color: rgba(45, 204, 112, 0.75);  
    padding-top: 12;  display: block;  height: 30px;
    margin-left: 0;
    font-weight: 700;
}
.moretim a span{
    background: url(images/icon/ilogo_big.png) no-repeat;
    width: 35;
    height: 35;
    display: block;
    float: left;
    margin-top: -10px;
    background-position: -146;
    display: none;
}
/* xanh tim */

.morexanhtim{
    border-top: 1px solid #DDDDDD;
    width: 90%;
    margin-left: 15px;
    margin-top: 15px;
}

.morexanhtim a{
    text-decoration: none;
    font-family: myriad pro;
    font-size: 12px;
    color: rgba(74, 181, 160, 0.75);  
    padding-top: 12;  display: block;  height: 30px;
    margin-left: 0;
    font-weight: 700;
}
.morexanhtim a span{
    background: url(images/icon/ilogo_big.png) no-repeat;
    width: 35;
    height: 35;
    display: block;
    float: left;
    margin-top: -10px;
    background-position: -148;
    display: none;
}

/* xanhcyan */
.morexanhcyan{
    border-top: 1px solid #DDDDDD;
    width: 90%;
    margin-left: 15px;
    margin-top: 15px;
}

.morexanhcyan a{
    text-decoration: none;
    font-family: myriad pro;
    font-size: 12px;
    color: rgba(232, 76, 61, 0.75);  
    padding-top: 12;  display: block;  height: 30px;
    margin-left: 0;
    font-weight: 700;
}
.morexanhcyan a span{
    background: url(images/icon/ilogo_big.png) no-repeat;
    width: 35;
    height: 35;
    display: block;
    float: left;
    margin-top: -10px;
    background-position: 2;
    display: none;
}

/* xanh la cay */
.morexanhlacay{
    border-top: 1px solid #DDDDDD;
    width: 90%;
    margin-left: 15px;
    margin-top: 15px;
}

.morexanhlacay a{
    text-decoration: none;
    font-family: myriad pro;
    font-size: 12px;
    color: rgba(243, 206, 63, 0.75);  
    padding-top: 12;  display: block;  height: 30px;
    margin-left: 0;
    font-weight: 700;
}
.morexanhlacay a span{
    background: url(images/icon/ilogo_big.png) no-repeat;
    width: 35;
    height: 35;
    display: block;
    float: left;
    margin-top: -10px;
    background-position: -34;
    display: none;
}
/* xanh la ma */
.morexanhlama{
    border-top: 1px solid #DDDDDD;
    width: 95%;
    margin-left: 15px;
    margin-top: 15px;
}

.morexanhlama a{
    text-decoration: none;
    font-family: myriad pro;
    font-size: 12px;
    color: rgba(45, 204, 112, 0.75);  
    padding-top: 12;  display: block;  height: 30px;
    margin-left: 0;
    font-weight: 700;
}
.morexanhlama a span{
    background: url(images/icon/ilogo_big.png) no-repeat;
    width: 35;
    height: 35;
    display: block;
    float: left;
    margin-top: -10px;
    background-position: -265;
    display: none;
}


/* footer */
footer{
    float: left;
    width: 100%;
    height: 45px;
    display: block;
    background-color: black;
}
footer .info{
    margin-left: 139px;
    float: left;
    width: 100%;
}
footer .info p{

}

footer .info a{
    text-decoration: none;

    font-size: 12px;
    color: #7C7C7C;
    font-weight: normal;
    font-family: myriad pro;
    display: block;
    padding-left: 10px;
    float: left;
    border-left: 1px solid rgb(70, 70, 70);
    padding-top: 15px;
    padding-bottom: 15px;
}

footer .info a b{

}

footer .info a b:hover{text-decoration:underline;color:white}

.info{
}

footer .info p{
    font-family: myriad pro;
    font-size: 12;
    color: #7C7C7C;
    padding-bottom: 16px;
    display: block;
    float: left;
    padding-right: 10px;
    padding-top: 15px;
}

/**/


body{
    background: #ededed;
}
.container{
    width: 100%;
    background: url(images/icon/bg.png) repeat-y;
    height: auto;
    float: left;
}


/* so luot xem */

#view{opacity: 0;position: absolute;top: 0;z-index: 2;right: -114px;top: -45px;font-weight: normal;-webkit-transition: all ease 0.4s;}
.tieude:hover #view{opacity:1;right: 0px}
.khoi1:hover #view{opacity:1;right: 0px}
.khoi2:hover #view{opacity:1;right: 0px}
.khoi3:hover #view{opacity:1;right: 0px}

.bg{
    background: url(images/background.png) no-repeat;
    width: 100%;
}


/* static */

#trangchu{margin-left: -20px;/* background-color: rgba(255, 255, 255, 1); */padding-left: 16;border-left: 5px solid white;}
#lienhe{margin-left: -20px;width: 258px;padding-left: 21;padding-left: 16;  border-left: 5px solid white;}



iframe{
    border: 2px solid rgb(173, 173, 173);
}

#fac{    background: url(images/icon/fac.png) no-repeat;    background-size: contain;}
#goo{    background: url(images/icon/goo.png) no-repeat;    background-size: contain;}
#twi{    background: url(images/icon/twi.png) no-repeat;    background-size: contain;}
.left .back-to-top {
    position: fixed;
    bottom: 2em;
    left: 0px;
    text-decoration: none;
    color: #000000;
    background-color: white;
    font-size: 12px;
    padding: 1em;
    display: none;
}

.left .back-to-top:hover {    
    background-color: rgba(135, 135, 135, 0.50);
}